# Unity
**/[Ll]ibrary/
**/[Tt]emp/
**/[Oo]bj/
**/[Bb]uild/
**/[Bb]uilds/
**/[Ll]ogs/
**/[Uu]ser[Ss]ettings/

# IDEs
**/.vs/
**/.idea/
**/.vscode/
**/*.csproj
**/*.unityproj
**/*.sln
**/*.slnx

# Eclipse / Java
**/.metadata/
**/.recommenders/
**/.project
**/.classpath
**/.settings/
**/bin/
**/target/
**/*.class